@import "../index";

#blog-main {
    // Styling for list of blogs
    #bloglist {
        margin-bottom: 30px;
        border: 1px solid $mainpurple;
        border-radius: 10px;
        padding: 10px;

        h3 {
            margin: 0;
        }
        .bloglist-item {
            margin-bottom: 10px;
            .bloglist-title {
                a {
                    text-decoration: underline;
                }
                a:hover {
                    color: $mainpurple;
                }
            }
            .bloglist-date {
                font-style: italic;
                font-weight: 500;
                font-size: 0.9em;
            }
        }
    }
    // Styling for each set of individual blogposts
    .blogpost {
        margin: 0 auto 30px;
        border-bottom: 1px dashed $mainpurple;
        box-sizing: border-box;
        max-width: 80vw;
        // Title of each blog
        .blogpost-title {
        }
        .blogpost-info {
            margin-bottom: 10px;
            font-size: 0.8em;
        }
        // Image for each blog
        .blogpost-image {
            margin-bottom: 15px;
            img {
                margin: 0 auto;
                display: block;
                width: 100%;
                max-width: 600px;
                max-height: 300px;
                object-fit: cover;
            }
        }
        // Body text of blog
        .blogpost-text {
            margin-bottom: 20px;
        }
        // Anchor - back to top
        .blogpost-footer {
            margin-bottom:50px;
            text-align: right;
            font-size: 0.8em;
            a {
                color: $maindarkblue;
            }
        }
    }
}

// Fix sticky header hiding anchor
:target::before {
    height: 70px;
    margin: -70px 0 0;
    display: block;
    content: "";
}

@media screen and (min-width:$large) {
    // Fix sticky header hiding anchor
    :target::before {
        height: 120px;
        margin: -120px 0 0;
        display: block;
        content: "";
    }
}