#page-header {
  background-color: #C1D2FE;
  width: 100vw;
  height: 70px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-header h1 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 3em;
  letter-spacing: -2px;
  color: #303540;
}

#page-nav {
  background-color: #BCC4D7;
}
#page-nav #page-nav-closed {
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
}
#page-nav #page-nav-closed #nav-icon-open {
  font-size: 1.5em;
}
#page-nav #page-nav-closed #nav-icon-open a {
  color: #303540;
}
#page-nav #page-nav-open {
  background-color: #BCC4D7;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 200px;
  height: 100vh;
  box-sizing: border-box;
  visibility: collapse;
  width: 0vw;
  text-align: right;
  display: flex;
  flex-direction: column;
}
#page-nav #page-nav-open #nav-icon-close {
  font-size: 1.5em;
  height: 80px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#page-nav #page-nav-open #nav-icon-close a {
  color: #303540;
}
#page-nav #page-nav-open #nav-link-list .nav-link {
  font-size: 1.5em;
  padding: 10px;
}
#page-nav #page-nav-open #nav-link-list .nav-link a {
  display: block;
  color: #303540;
}
#page-nav #page-nav-open #nav-link-list .nav-link:hover {
  background-color: #FFF0F3;
}

@media screen and (min-width: 800px) {
  #page-nav {
    position: sticky;
    top: 70px;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  #page-nav #page-nav-closed {
    display: none;
  }
  #page-nav #page-nav-open {
    position: relative;
    top: auto;
    right: auto;
    visibility: visible;
    height: auto;
    width: auto;
    max-width: 100vw;
    text-align: center;
    flex-direction: row;
  }
  #page-nav #page-nav-open #nav-icon-close {
    display: none;
  }
  #page-nav #page-nav-open #nav-link-list {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  #page-nav #page-nav-open #nav-link-list .nav-link {
    margin: 0;
  }
}
#page-footer {
  background-color: #303540;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page-footer #contact-photo img {
  max-width: 25vw;
  border-radius: 50%;
}
#page-footer #contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F7F7F7;
}
#page-footer #contact-details #contact-name {
  margin-bottom: 10px;
}
#page-footer #contact-details #contact-name h2 {
  margin: 0;
  font-family: "Playfair Display", serif;
}
#page-footer #contact-details #contact-email {
  margin-bottom: 10px;
}
#page-footer #contact-details #contact-email a {
  color: #FFF0F3;
}
#page-footer #contact-details #contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
}
#page-footer #contact-details #contact-links .contact-links-icon {
  margin: 0px 20px;
  font-size: 1.5em;
}
#page-footer #contact-details #contact-links .contact-links-icon a {
  color: #FFF0F3;
}

@media screen and (min-width: 480px) {
  #page-footer {
    flex-direction: row;
    justify-content: center;
  }
  #page-footer #contact-photo img {
    max-width: 120px;
  }
  #page-footer #contact-details {
    margin-left: 20px;
    align-items: flex-start;
  }
  #page-footer #contact-details #contact-links {
    justify-content: flex-start;
  }
  #page-footer #contact-details #contact-links .contact-links-icon {
    margin: 0px 20px 0px 0px;
  }
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  background-color: #F7F7F7;
  color: #303540;
}
body a {
  text-decoration: none;
}

main {
  background-color: #F7F7F7;
  flex-grow: 2;
  width: 100vw;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

#home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}/*# sourceMappingURL=home.css.map */