@import "../defaults/breakpoint";
@import "../defaults/color";

#page-footer {
    background-color: $maindarkblue;
    // size
    width: 100%; // Use 100% instead of 100vw to fix horizontal scroll bar issue when the page has a vertical scroll
    box-sizing: border-box;
    // design
    padding: 10px;
    // child items positioning
    display: flex;
    flex-direction: column;
    align-items: center;

    #contact-photo {
        img {
            max-width: 25vw;
            border-radius: 50%;
        }
    }

    #contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $mainwhite;
        #contact-name {
            margin-bottom: 10px;
            h2 {
                margin: 0;
                line-height: 1.0em;
                font-weight: 100;
            }
        }
        #contact-email {
            margin-bottom: 10px;
            a {
                color: $mainpink;
            }
        }
        #contact-links {
            display: flex;
            justify-content: center;
            width: 100%;

            .contact-links-icon {
                margin:0px 20px;
                font-size: 1.5em;
                a {
                    color: $mainpink;
                }
            }
        }
    }
}

@media screen and (min-width: $medium) {
    #page-footer {
        flex-direction: row;
        justify-content: center;

        #contact-photo {
            img {
                max-width: 120px;
            }
        }

        #contact-details {
            margin-left: 20px;
            align-items: flex-start;

            #contact-links {
                justify-content: flex-start;
                .contact-links-icon {
                    margin: 0px 20px 0px 0px;
                }
            }
        }
    }
}