@import "../defaults/color";

#page-header {
    background-color: $mainwhite;
    border-bottom: 1px solid $navblue;
    /* size */
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    /* position */
    position: sticky;
    top:0;
    /* child items positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    /* heading/title */
    h1 {
        margin: 0;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 3em;
        letter-spacing: -2px;
        a {
            color: $maindarkblue;
        }
    }
}