@import "../defaults/color";

#page-header {
    background-color: $mainblue;
    // size
    width: 100vw;
    height: 70px;
    box-sizing: border-box;
    //position
    position: sticky;
    top:0;
    // child items positioning
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 3em;
        letter-spacing: -2px;
        color: $bodytext;
    }
}